.row {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
}

.column-left {
    width: 15%;
}

.column-right {
    width: 75%;
    text-align: left;
}

.row-titles{
    margin-bottom: 15px;
}

.name-addon{
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
}

.ide-addon{
    font-family: Poppins;
    font-size: 15px;
    color: #9c9c9c;
    margin-right: 30px;
}

.average-rating{
    font-family: Poppins;
    font-size: 15px;
    color: #9c9c9c;
    margin-right: 5px;
}
.rate-form{
    text-align: left;
}


.rate {
    float: left;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #e4e4e4;
}

.rate:not(:checked) > label:before {
    content: '\f005';
    font-family: fontAwesome;
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

input{
    font-size: 12px;
    /*padding: 12px 10px;*/
    /*display: inline-block;*/
    border: none;
    border-bottom: 1px solid #999;
    font-family: Poppins;
    /*box-sizing: border-box;*/
}

.row-tags{
    display: flex;
}

.column-left-tags{
    width: 28%;
}
.column-right-tags{
    text-align: left;
    width: 28%;
}

.download-button{
    padding: 10px 20px;
    background-color: coral;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.all-buttons{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.all-buttons > form > button{
    margin-right: 20px;
}

.all-buttons > a{
    margin-right: 20px;
}

.update-button{
    padding: 10px 20px;
    background-color: #6dabe4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.delete-button{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #6dabe4;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #6dabe4;
    text-decoration: none;
    margin-right: 10px;
}

.add-to-featured{
    border-radius: 6px;
    background-color: #d9d9d9;
    border: none;
    padding: 10px;
}
