@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*.creation-container{*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -moz-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: 1fr 1fr;*!*/
/*    padding: 30px 400px 30px 200px;*/
/*    justify-content: space-between;*/
/*}*/

/*.creation-form{*/
/*    width: 290px;*/
/*    float: right;*/
/*}*/

.row{
    display: flex;
}

.column{
    flex: 50%;
    padding: 50px 100px;
}

.title-creation{
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    text-align: center;
    display: block;
}

.description-creation{
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 180px;
    color: #777777;
}

.field-title, .div1, .other{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #999;
    font-family: Poppins;
    box-sizing: border-box;
}

.upload-picture, .create-button{
    padding: 5px 0 5px 0;
    margin: 0;
    display: block;
}

.image-creation-page{
    padding: 20px;
    float: left;
    align-content: center;
    justify-content: center;
}
