footer{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #24252A;
    text-align: center;
}

footer p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    margin: 10px;
}