.landing{
    padding: 50px 100px;
}


.title-landing-page {
    top: 30px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Poppins;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    position: relative;
    width: 300px;
    height: 210px;
    margin: 10px;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    box-sizing: border-box;
}

.title-box-content h5{
    text-align: center;
    font-family: Poppins;
    font-size: 15px ;
    font-weight: bold;
    color: #4d4d4d;
}

.title-box-content .icon{
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.info-content {
    text-align: center;
    font-size: 12px;
    color: #777777;

}


.info-content a{
    text-decoration: none; !important;
    font-family: Poppins;
    font-size: 12px ;
    color: #6dabe4;
}