<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/footer.css}" href="../static/footer.css"/>
</head>
<body>
<footer>
    <a href="#" th:href="@{/index}"><img class="logo" src="/logo.png" width="200px" height="45px" alt="logo"></a>
<p>Addonis is an Addons Registry web application.
It enables users to publish their own addons, browse addons for their preferred IDE,
    download and rate addons.</p>
<p>Our goal was to create a place that makes it easy for a user to find the right tool
    for their need.</p>
    <p>If you need assistance, please do not hesitate to contact us on info@team6.com</p>
</footer>
</body>
</html>