<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Addon Page</title>
    <link rel="stylesheet" th:href="@{/addon-page.css}" href="../static/addon-page.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="row">
    <div class="column-left"></div>
    <div class="column-right">
        <div class="row-titles">
            <div class="all-buttons">
                <span class="name-addon" th:text="${addon.getName()}"></span>
                <span class="ide-addon" th:text="${addon.getIde().getIDEName()}"></span>
                <form th:action="@{/addons/{id}/featured(id=${addon.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')"
                      th:if="${!featuredList.contains(addon.getName()) && addon.getStatus().getId()==2 && featuredList.size() < 10}" method="post">
                    <button class="add-to-featured"><i class="fa fa-thumbs-o-up" aria-hidden="true" title="Add to featured"></i></button>
                </form>
                <form th:action="@{/addons/{id}/featured/remove(id=${addon.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')"
                      th:if="${featuredList.contains(addon.getName()) && addon.getStatus().getId()==2}" method="post">
                    <button class="add-to-featured"><i class="fa fa-thumbs-o-down" aria-hidden="true" title="Remove from featured"></i></button>
                </form>
            </div>


        </div>
        <div class="row-titles">
            <span style="font-family: Poppins, sans-serif; font-size: 18px" th:text="${addon.getDescription()}"></span>
        </div>
        <div class="row-titles">
        <span class="average-rating" th:object="${averageRating}" th:text="${averageRating}"></span>
        <span><i class="fa fa-star" aria-hidden="true"
                 style="color:#c59b08; margin-right: 30px"></i></span>
        </div>
        <div class="row-titles">
            <form sec:authorize="isAuthenticated()" class="rate-form" th:action="@{/addons/{id}/rate(id=${addon.id})}" th:object="${ratingDto}" method="post">
                <div class="rate" style="margin-right: 10px">
                    <input type="submit" id="star5" th:name="rating" value="5" />
                    <label for="star5" ></label>
                    <input type="submit" id="star4" th:name="rating" value="4" />
                    <label for="star4" ></label>
                    <input type="submit" id="star3" th:name="rating" value="3" />
                    <label for="star3" ></label>
                    <input type="submit" id="star2" th:name="rating" value="2" />
                    <label for="star2" ></label>
                    <input type="submit" id="star1" th:name="rating" value="1" />
                    <label for="star1" ></label>
                </div> </form>
        </div>
        <p sec:authorize="isAuthenticated()" class="row-titles" style="color: #cbcbcb; margin-left: 10px; font-size: 13px; font-family: Poppins">Rate Addon</p>


        <br>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px"><i class="fa fa-github" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Origin Link:  </span>
            <span><a style="text-decoration: none;color: #6dabe4; font-family: Poppins; font-size: 13px" th:href="@{${addon.getOriginLink()}}" th:text="${addon.getOriginLink()}"></a></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Creator:  </span>
            <span><a style="text-decoration: none;color: #6dabe4; font-family: Poppins; font-size: 13px" th:href="@{/users/name/{username}(username=${addon.getCreator().getUsername()})}" th:text="${addon.getCreator().getUsername()}"></a></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Open issues:  </span>
            <span style="font-family: Poppins;font-size: 13px" th:text="${openIssues}"></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 17px; margin-right: 5px"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Pull requests:  </span>
            <span style="font-family: Poppins;font-size: 13px" th:text="${pullRequests}"></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px"><i class="fa fa-upload" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Last Commit:  </span>
            <span style="font-family: Poppins;font-size: 13px" th:text="${lastCommitDate}"></span>
            <span >---</span>
            <span style="font-family: Poppins;font-size: 13px" th:text="${lastCommitMessage}"></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px">Downloads:  </span><span style="font-family: Poppins;font-size: 12px" th:text="${addon.getNumberDownloads()}"></span>
            <span style="margin-left: 10px"><a href="/addons/" th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                <button class="download-button">Download</button></a></span>
        </div>
        <div class="row-titles">
            <span style="font-size: 14px; margin-right: 5px "><i class="fa fa-tags" aria-hidden="true"></i></span>
            <span th:text="#{addons.header.tags} + #{addons.symbols.dots}" style="font-family: Poppins, sans-serif; font-size: 13px"></span>
            <span class="boxed" th:each="tag : ${addon.getTags()}"
                  th:text="${tag.getName()}"
                  style="display: inline-block; border: 1px solid lightgrey;
                     border-radius: 5px; padding: .4em .5em ; width: 80px; text-align: center ;
                     margin-bottom:10px; margin-left: 10px ; white-space: nowrap" ></span>
        </div>
        <div class="row-titles">
            <div class="row-tags">
                <div class="column-left-tags">
                    <form sec:authorize="isAuthenticated()" th:object="${tagDto}"
                          th:if="${#authentication.name == addon.getCreator().getUsername() || #authorization.expression('hasRole(''ADMIN'')')}"
                          th:action="@{/addons/{id}/tag(id=${addon.id})}" method="post">
                        <span><input  class="addTag" type="text" name="name" placeholder="Add tag..." ></span>
                        <span><input  class="addTag" type="submit" value="Add"></span>
                    </form>
                </div>
                <div class="column-right-tags">
                    <form sec:authorize="isAuthenticated()" th:object="${tagDto}"
                          th:if="${#authentication.name == addon.getCreator().getUsername() || #authorization.expression('hasRole(''ADMIN'')')}"
                          th:action="@{/addons/{id}/tag/delete(id=${addon.id})}" method="post">
                        <span><input  class="addTag" type="text" name="name" placeholder="Delete tag..." ></span>
                        <span><input  class="addTag" type="submit" onclick="return confirm('Are you sure?')" value="Delete"></span>
                    </form>
                </div>
                <div class="column-left-tags"></div>
            </div>
        </div>
        <div class="row-titles">
            <span style="font-size: 15px; margin-right: 5px"><i class="fa fa-book" aria-hidden="true"></i></span>
            <span style="font-family: Poppins, sans-serif; font-size: 13px"><a style="text-decoration: none; color:#6dabe4 " th:href="@{/addons/{id}/readme(id=${addon.id})}">ReadME file</a> </span>
        </div>
        <div class="row-titles">
<div class="all-buttons">
    <a href="/addons/{id}/update" th:href="@{/addons/{id}/update(id=${addon.getId()})}" sec:authorize="isAuthenticated()"
       th:if="${#authentication.name == addon.getCreator().getUsername() || #authorization.expression('hasRole(''ADMIN'')')}"
       class="update-button">Update</a>

    <form  th:action="@{/addons/{id}/delete(id=${addon.getId()})}" sec:authorize="isAuthenticated()"
           th:if="${#authentication.name == addon.getCreator().getUsername() || #authorization.expression('hasRole(''ADMIN'')')}"
           th:method="post"><button onclick="return confirm('Are you sure?')" class="delete-button" >Delete</button></form>

    <form  th:action="@{/addons/{id}/approve(id=${addon.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')"
           th:method="post" th:if="${addon.getStatus().getId() == 1}"><button class="delete-button" >Approve</button></form>
</div>
        </div>
        </div>

    </div>

<div th:insert="fragments/footer.html"></div>
</body>
</html>