<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Addon</title>
    <link rel="stylesheet" th:href="@{/create-new-addon.css}" href="../static/create-new-addon.css"/>

</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="row">
<!--<div class="creation-container">-->
    <div class="column">
        <div class="description-creation">
        <label>As a developer, you can choose to make your apps and extensions available for everyone.
            So we are giving you the possibility to publish your own add-ons on our Marketplace.</label>
            <br>
            <br>
            <label>
                Please note that once the addon is created, their status is still pending. Some of our admins
                will then approve them. The extension is visible to the public only if is is approved.
            </label>

        </div>
    </div>
<!--    <div class="creation-form">-->
<div class="column">
        <form class="creation" action="#" th:action="@{/addons/new}" th:object="${addon}" th:method="post"
              enctype="multipart/form-data">
            <h2 class="title-creation" th:text="#{create.addon}"></h2>
            <br>
            <input class="field-title" type="text" th:field="*{name}" placeholder="Name">
            <label style="color: red" th:errors="*{name}"></label>
            <br>
            <input class="field-title" type="text" th:field="*{description}" placeholder="Description">
            <label style="color: red" th:errors="*{description}"></label>
            <br>
            <input class="field-title" type="text" th:field="*{originLink}" placeholder="Origin Link">
            <br>
            <select class="field-title" th:field="*{ide}">
                <option value="" th:text="#{option.ide}"></option>
                <option th:each="ide : ${ides}"
                        th:value="${ide.getIDEName()}"
                        th:text="${ide.getIDEName()}"></option>
            </select>
            <br>
            <input th:type="file" name="file" th:field="*{file}" accept="file_extension"/>
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary" style="color:red"></p>
            <br>
            <br>
            <div class="create-button">
                <button class="nav_button" th:text="#{create.addon}"></button>
            </div>
        </form>
    </div>

</div>
<!--</div>-->
<div th:insert="fragments/footer.html"></div>
</body>
</html>