<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/error.css}" href="../static/error.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="error-body">
    <h4 style="font-family: Poppins">Oops, something went wrong!</h4>
    <img src="/error.png"  width=30%/>
    <h3 style="font-family: Poppins" th:unless="${errors==null}" th:text="${errors + '!'}"></h3>
    <h3 style="font-family: Poppins" th:if="${errors==null}" th:text="#{page.notFound}"></h3>
</div>

<div th:insert="fragments/footer.html"></div>
</body>
</html>