<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>IDE</title>
    <link rel="stylesheet" th:href="@{/ides.css}" href="../static/ides.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="landing">
    <div class="title-landing-page">
        <label>In our Marketplace you have the possibility to find addons for different IDEs.</label>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div th:each="ide:${ides}">
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <img class="icon" th:src="@{/pictures/{name}(name=${ide.getPicture()})}">
                            <h5 th:text="${ide.getIDEName()}"></h5>
                        </div>
                        <div class="info-content">
                                <span><a th:href="@{/search?ide={ideName}(ideName=${ide.getIDEName()})}">See All Addons</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>