<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Addonis</title>
    <link rel="stylesheet" th:href="@{/landing-page.css}" href="../static/landing-page.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="landing">
    <div class="title-landing-page">
        <label>In our Marketplace you have the possibility to find addons for different IDEs, to sort them by criteria,
            to
            publish and manipulate your own extensions.
            Furthermore, rating is crucial, so we gave the opportunity to users to rate all addons.</label>
    </div>
    <div class="featured">
        <p class="title">Featured Addons</p>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="addon:${featuredAddons}">
                <!--                <div class="col-sm-4">-->
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <a th:href="@{/addons/{id}(id=*{addon.getId()})}" th:text="${addon.getName()}"></a>
                            <label th:text="${addon.getIde()}"></label>
                        </div>
                        <label>
                            <span style="margin-right:0px"><i class="fa fa-star" aria-hidden="true"
                                                              style="color:gold"></i></span>
                            <span th:text="${addon.getRating()}"></span>
                        </label>

                        <div class="info-content">
                            <br>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                <span th:text="#{addons.header.downloads}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getNumberOfDownloads()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-angle-double-up"
                                                                 aria-hidden="true"></i></span>
                                <span th:text="#{addons.last.commit}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getLastCommitDate()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <span th:text="#{addons.upload.date}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getUploadDate()}"></span>
                            </div>
                            <br>
                            <div>
                                <span><a th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                                    <button class="download-button">Download</button></a></span>
                                <span><a th:href="@{/addons/{id}(id=*{addon.id})}">More Info</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right"
                                         aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>


                </div>


                <!--                </div>-->


            </div>
        </div>


    </div>

    <div class="popular">
        <p class="title">Top 5 Most Popular Addons </p>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="addon:${popularAddons}">
                <!--                <div class="col-sm-4">-->
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <a th:href="@{/addons/{id}(id=*{addon.getId()})}" th:text="${addon.getName()}"></a>
                            <label th:text="${addon.getIde()}"></label>
                        </div>
                        <label>
                            <span style="margin-right:0px"><i class="fa fa-star" aria-hidden="true"
                                                              style="color:gold"></i></span>
                            <span th:text="${addon.getRating()}"></span>
                        </label>

                        <div class="info-content">
                            <br>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                <span th:text="#{addons.header.downloads}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getNumberOfDownloads()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-angle-double-up"
                                                                 aria-hidden="true"></i></span>
                                <span th:text="#{addons.last.commit}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getLastCommitDate()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <span th:text="#{addons.upload.date}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getUploadDate()}"></span>
                            </div>
                            <br>
                            <div>
                                <span><a th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                                    <button class="download-button">Download</button></a></span>
                                <span><a th:href="@{/addons/{id}(id=*{addon.id})}">More Info</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right"
                                         aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>


                </div>


                <!--                </div>-->


            </div>
        </div>


    </div>
    <div class="new">
        <p class="title">5 Newest Addons</p>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="addon:${newestAddons}">
                <!--                <div class="col-sm-4">-->
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <a th:href="@{/addons/{id}(id=*{addon.getId()})}" th:text="${addon.getName()}"></a>
                            <label th:text="${addon.getIde()}"></label>
                        </div>
                        <label>
                            <span style="margin-right:0px"><i class="fa fa-star" aria-hidden="true"
                                                              style="color:gold"></i></span>
                            <span th:text="${addon.getRating()}"></span>
                        </label>

                        <div class="info-content">
                            <br>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                <span th:text="#{addons.header.downloads}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getNumberOfDownloads()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-angle-double-up"
                                                                 aria-hidden="true"></i></span>
                                <span th:text="#{addons.last.commit}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getLastCommitDate()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <span th:text="#{addons.upload.date}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getUploadDate()}"></span>
                            </div>
                            <br>
                            <div>
                                <span><a th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                                    <button class="download-button">Download</button></a></span>
                                <span><a th:href="@{/addons/{id}(id=*{addon.id})}">More Info</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right"
                                         aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>


                </div>


                <!--                </div>-->


            </div>
        </div>


    </div>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>