<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="login/css/style.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="login/images/signin-image.jpg" alt="sing up image"></figure>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form th:action="@{/authenticate}" method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="your_name" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="your_pass" placeholder="Password"/>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <br>
                <a style="position: center; margin-top: 20px" href="/register"
                   th:action="@{/users/register}" class="signup-image-link">Create an account</a>
                <br>
                <p style="position: center">
                    <i th:if="${param.logout}"> You have been logged out. </i>
                    <i th:if="${param.error}" class="error" th:text="#{wrong.username.pass}"></i>
                </p>
            </div>
        </div>
    </div>
</section>
<script src="login/vendor/jquery/jquery.min.js"></script>
<script src="login/js/main.js"></script>
<div th:insert="fragments/footer.html"></div>
</body>
</html>