<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Pending Addons</title>
    <link rel="stylesheet" th:href="@{/pending-addons.css}" href="../static/pending-addons.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="landing">
    <div class="featured">
        <p style="font-family: Poppins;font-size: 20px;color: #6dabe4">Pending Addons</p>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="addon:${pendingAddons}">
                <!--                <div class="col-sm-4">-->
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <a th:href="@{/addons/{id}(id=*{addon.getId()})}" th:text="${addon.getName()}"></a>
                            <label th:text="${addon.getIde()}"></label>
                        </div>
                        <label>
                            <span style="margin-right:0px"><i class="fa fa-star" aria-hidden="true"
                                                              style="color:gold"></i></span>
                            <span th:text="${addon.getRating()}"></span>
                        </label>

                        <div class="info-content">
                            <br>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                <span th:text="#{addons.header.downloads}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getNumberOfDownloads()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-angle-double-up"
                                                                 aria-hidden="true"></i></span>
                                <span th:text="#{addons.last.commit}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getLastCommitDate()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <span th:text="#{addons.upload.date}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getUploadDate()}"></span>
                            </div>
                            <br>
                            <div>
                                <span><a th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                                    <button class="download-button">Download</button></a></span>
                                <span><a th:href="@{/addons/{id}(id=*{addon.id})}">More Info</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right"
                                         aria-hidden="true"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="page-navigation">
    <div class="page-row">
        <div class="previous-box">
            <form th:action="@{''}" th:if="${shouldShowPrevious}==true">
                <input th:type="hidden" th:name="page"
                       th:value="${pages}-1">
                <button type="submit" class="button-left"><i style="margin-right: 5px" class="fa fa-arrow-left" aria-hidden="true"></i>Previous
                    Page
                </button>
            </form>
        </div>
        <div class="next-box">
            <form th:action="@{''}" th:if="${shouldShowNext}==true">
                <input th:type="hidden" th:name="page"
                       th:value="${pages}+1">
                <button type="submit" class="button-right"><i style="margin-right: 5px" class="fa fa-arrow-right" aria-hidden="true"></i>Next Page
                </button>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>