<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="login/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="login/css/style.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form action="#" th:action="@{/register}" th:object="${userDTO}" method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="name" th:field="*{username}" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" th:field="*{password}" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label ><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="repeatPassword" id="re_pass" th:field="*{repeatPassword}" placeholder="Repeat your password"/>

                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" th:field="*{email}" placeholder="Your Email"/>

                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="firstName" id="firstName" th:field="*{firstName}" placeholder="First Name"/>

                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="lastName" id="lastName" th:field="*{lastName}" placeholder="Last Name"/>

                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>

                    <p style="color: red; font-size: 13px" th:errors="*{username}"><br></p>
                    <p style="color: red; font-size: 13px" th:errors="*{password}"><br></p>
                    <p style="color: red; font-size: 13px" th:errors="*{email}"><br></p>
                    <p style="color: red; font-size: 13px" th:errors="*{firstName}"><br></p>
                    <p style="color: red; font-size: 13px" th:errors="*{lastName}"><br></p>
                    <p th:text="${error}" th:if="${error ne null}" class="alert alert-primary" style="color:red"></p>
                </form>

            </div>
            <div class="signup-image">
                <figure><img src="login/images/signup-image.jpg" alt="sing up image"></figure>
                <a href="/login" th:action="@{/login}" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>
<script src="login/vendor/jquery/jquery.min.js"></script>
<script src="login/js/main.js"></script>
<div th:insert="fragments/footer.html"></div>
</body>
</html>