<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Confirm</title>
    <link rel="stylesheet" th:href="@{/register-confirm.css}" href="../static/register-confirm.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="register-body">
    <img src="/registration-success.png"  width=30%/>
    <h3 style="font-family: Poppins" th:text="#{registration.success}"></h3>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>